<html>
<head>
<style>
.space
{
    text-align:center;
}
</style>
</head>
<body>
<form method="post" action="/">
<div class="space">
<input type="text" name="email" value="{{email}}"><br>
{% if(error.email)%}
<p>{{error.email.msg}}</p>
{%endif%}
<input type="password" name="password" value="{{password}}"><br>
{% if(error.password)%}
<p>{{error.password.msg}}</p>
{%endif%}
<input type="submit" value="submit">
<div>
</form>
<body>
</html>