<html>
    <head>
        <title>Navbar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
    .v
    {
position:fixed;
top:0;
left:0;
    }
    </style>
<div class="navbar-inverse">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myimage">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class=""icon-bar></span>
             </button>
             <img src="/static/images/m.png" width="40" class="v"/>
         </div>      
         <div class="collapse navbar-collapse" id="myimage">
             <ul class="nav navbar-nav navbar-right">
 <li><a href="/admin"><span class="glyphicon glyphicon-user"></span>{{name}}</a></li>
  <li><a href =""><span class = "glyphicon glyphicon-log-in"></span>Logout</a></li>
 </ul>
 </div>
 </div>
</div>
</html>